<a href="https://colab.research.google.com/github/623020514-5/data_viz_2022/blob/main/Final_DataViz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#สมาชิกกลุ่ม Fundi
  * นางสาวจุฑากาญจน์ ชิงจันทร์ SI
  * นางสาววานิตา สมเด็จ SI
  * นางสาวปลายฟ้า คำเพ็ง STAT

#จากโจทย์
โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้
 * user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
 * RowKey เป็น String
 * date เป็น YYYY-MM-DD
 * phone เป็น String
 * site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
 * time เป็น hh-mm-ss
 * urine มีค่า String
 * ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
 * PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx
โดยข้อมูลสำคัญที่ต้องแสดงคือ
 * จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
 * ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone
 * (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))


 ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx
( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR2TOFCt16PG2k9xeKIA7jnTEm63uTzd3nRacpzhJEp3d3-6QCtWz3tQskw )

###**เรียกใช้ฟังฟ์ชั่น**

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า
import matplotlib
from matplotlib import pyplot as plt

###**นำเข้าไฟล์**

In [2]:
from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/FinalDataViz'

##**ตารางที่ 1**

In [4]:
data1 = pd.read_csv(os.path.join(path,'alldb.csv')) #อ่านไฟล์ csv นำเข้าไฟล์ alldb.csv
data1 #แสดงข้อมูลตาราง data1

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

###**ตรวจสอบขนาด**

In [5]:
data1.shape #ตรวจสอบขนาด

(40035, 14)

เนื่องจากข้อมูลมีจำนวนมาก แต่เราไม่ได้ใช้ทั้งหมด เพื่อง่ายต่อการทำ prepocessing ดังนั้นจะตัดมาแค่ข้อมูลที่ต้องการใช้จริงๆ ตามโจทย์

### ตรวจสอบหาค่า NaN หรือ Missing

In [6]:
data1.isnull().any()  # ตรวจสอบหาค่า missing
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

Unnamed: 0      False
user             True
RowKey           True
care             True
date             True
ov               True
phone            True
site             True
time             True
urine            True
pid              True
PartitionKey     True
title            True
age              True
dtype: bool

จากผลเราจะพิจารณาจากการอ่านค่า True และ False ถ้า True คือ มีค่า missing ดังนั้น จะเห็นได้ว่าข้อมูลมีค่า missing เกือบในทุกคอลัมน์ ดังนั้น สามารถอนุมานได้เลยว่า ข้อมูลมีค่า missing จำนวนมาก จึงไม่เหมาะกับตัดข้อมูล หรือ .dropna
จึงพิจารณาให้ใช้วิธีแทนค่าเฉพาะคอลัมน์ข้อมูลที่เราต้องการใช้

## Data Preprocessing

In [7]:
data = data1[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','title','age']] # เลือกเฉพาะคอลัมน์ที่ต้องการ
data #แสดงข้อมูลตาราง data

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,"iPhone13,4",01234,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed

In [8]:
data_drop = data.dropna()  # ลบข้อมูลที่เป็นค่า NaN ทิ้ง
data_drop #แสดงข้อมูลตาราง data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,0,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0-1528,data is not completed,data is not completed
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,0,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0-1544,data is not completed,data is not completed
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
...,...,...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,2,Samsung SM-G998B,test,14:23:45,ขุ่น,x001,data is not completed,data is not completed
40014,ttest,gzxgflnowr.png,2022-02-21,2,Samsung SM-G998B,test,14:23:43,ขุ่น,x001,data is not completed,data is not completed
40016,xxx,jytlopevha.png,2022-02-17,3,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),xxx,data is not completed,data is not completed
40022,yyy,ivccsksowb.png,2022-02-17,2,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,yyy,data is not completed,data is not completed
40023,zzz,psudrnccsh.png,2022-02-17,2,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,zzz,data is not completed,data is not completed

In [9]:
data_drop = data_drop[(data_drop['PartitionKey'].astype(str).str.isdigit()) & (data_drop['PartitionKey'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ PartitionKey ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
print(data_drop.shape)                                                                   
data_drop.head()

(37772, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50

In [10]:
set(data_drop['PartitionKey']) # ดู set ข้อมูลของ 'PartitionKey'

{'03325',
 '02719',
 '01154',
 '01721',
 '01188',
 '02455',
 '00888',
 '00415',
 '02761',
 '01307',
 '00920',
 '01487',
 '02208',
 '10993',
 '02107',
 '01396',
 '00947',
 '01228',
 '00694',
 '03126',
 '00689',
 '02013',
 '00175',
 '01795',
 '01585',
 '05127',
 '00695',
 '00107',
 '01923',
 '00720',
 '08958',
 '02069',
 '01887',
 '09013',
 '02567',
 '00028',
 '00285',
 '09014',
 '00802',
 '00518',
 '00839',
 '02612',
 '04001',
 '02888',
 '03335',
 '01223',
 '01996',
 '00717',
 '01263',
 '03123',
 '10971',
 '01163',
 '01958',
 '02917',
 '00675',
 '02429',
 '06055',
 '00075',
 '02792',
 '02950',
 '01361',
 '01424',
 '01194',
 '01278',
 '00155',
 '02619',
 '02622',
 '05716',
 '00144',
 '02030',
 '02170',
 '00327',
 '02256',
 '00966',
 '03438',
 '02305',
 '06004',
 '02662',
 '06052',
 '09035',
 '00256',
 '00793',
 '01029',
 '00479',
 '00345',
 '01127',
 '02292',
 '01437',
 '00199',
 '00909',
 '00761',
 '00185',
 '00352',
 '00159',
 '01184',
 '00211',
 '00105',
 '08905',
 '01749',
 '05155',
 '06723',
 '02067',
 '08914',
 '00607',
 '01631',
 '00682',
 '09009',
 '03725',
 '02651',
 '02929',
 '04696',
 '03078',
 '00499',
 '00486',
 '00485',
 '01592',
 '01614',
 '02846',
 '01983',
 '00770',
 '00623',
 '01554',
 '01995',
 '01364',
 '02518',
 '00980',
 '00710',
 '01668',
 '01294',
 '02010',
 '02778',
 '04253',
 '02992',
 '06182',
 '01686',
 '03535',
 '01809',
 '03044',
 '05966',
 '03483',
 '01046',
 '00082',
 '00848',
 '01997',
 '00771',
 '01580',
 '01707',
 '02345',
 '02832',
 '02209',
 '01225',
 '01963',
 '00253',
 '00571',
 '02856',
 '01532',
 '03541',
 '00787',
 '01099',
 '00457',
 '02500',
 '02852',
 '01669',
 '05976',
 '01456',
 '01087',
 '01261',
 '00929',
 '01594',
 '01978',
 '01400',
 '02413',
 '03328',
 '08977',
 '00001',
 '04639',
 '00599',
 '01628',
 '08900',
 '03189',
 '03445',
 '00562',
 '00738',
 '00140',
 '00648',
 '02490',
 '01905',
 '02922',
 '00340',
 '02763',
 '01030',
 '00321',
 '04116',
 '02078',
 '00230',
 '01528',
 '00073',
 '00025',
 '00145',
 '01547',
 '02597',
 '04054',
 '06003',
 '01841',
 '02813',
 '03110',
 '05323',
 '01722',
 '01735',
 '01438',
 '01457',
 '02934',
 '00732',
 '03227',
 '01173',
 '02536',
 '01422',
 '04782',
 '00431',
 '02367',
 '04036',
 '00576',
 '02062',
 '02233',
 '01926',
 '02494',
 '02298',
 '00503',
 '00728',
 '00306',
 '02286',
 '08911',
 '00190',
 '02360',
 '00097',
 '02040',
 '00364',
 '09015',
 '02029',
 '00163',
 '02409',
 '00341',
 '03224',
 '03366',
 '00956',
 '01481',
 '00057',
 '05114',
 '00251',
 '01280',
 '04629',
 '03099',
 '00709',
 '02789',
 '01264',
 '04646',
 '03291',
 '00207',
 '01244',
 '03614',
 '02779',
 '01797',
 '03964',
 '08908',
 '00854',
 '00517',
 '02402',
 '01069',
 '00478',
 '02589',
 '01315',
 '00041',
 '02972',
 '02257',
 '03525',
 '01831',
 '03254',
 '00206',
 '01015',
 '03334',
 '09017',
 '00282',
 '01302',
 '08969',
 '04644',
 '05122',
 '01512',
 '02164',
 '03403',
 '00821',
 '02275',
 '03545',
 '01617',
 '01341',
 '04143',
 '01573',
 '04165',
 '03071',
 '01128',
 '02476',
 '01813',
 '01568',
 '01028',
 '03199',
 '02809',
 '00182',
 '00087',
 '01491',
 '01898',
 '10976',
 '01777',
 '02406',
 '02119',
 '01397',
 '01495',
 '03023',
 '06045',
 '00539',
 '02365',
 '03133',
 '00520',
 '01129',
 '02509',
 '03950',
 '01982',
 '02048',
 '01885',
 '01699',
 '03150',
 '10985',
 '04623',
 '03263',
 '01137',
 '00628',
 '01892',
 '00758',
 '00305',
 '02666',
 '01078',
 '02470',
 '00899',
 '00953',
 '06007',
 '01405',
 '02784',
 '01134',
 '01383',
 '04127',
 '02060',
 '00366',
 '01550',
 '00323',
 '01552',
 '04111',
 '00731',
 '00138',
 '01935',
 '00459',
 '01444',
 '01514',
 '05977',
 '02228',
 '00476',
 '03265',
 '03125',
 '00178',
 '03230',
 '02945',
 '01886',
 '00233',
 '00768',
 '04781',
 '01704',
 '01485',
 '01738',
 '00070',
 '02709',
 '06021',
 '01990',
 '00493',
 '01510',
 '03411',
 '04182',
 '02222',
 '09037',
 '00641',
 '00829',
 '02161',
 '00454',
 '00391',
 '01948',
 '08948',
 '02243',
 '09005',
 '10968',
 '02483',
 '00419',
 '02973',
 '01626',
 '00564',
 '02333',
 '01291',
 '02584',
 '00137',
 '03317',
 '01325',
 '00408',
 '03139',
 '02434',
 '01692',
 '00295',
 '02540',
 '01968',
 '00957',
 '00023',
 '00875',
 '04004',
 '02484',
 '02098',
 '08519',
 '08920',
 '02601',
 '02051',
 '02507',
 '08966',
 '02489',
 '00424',
 '02379',
 '00333',
 '04511',
 '02390',
 '06031',
 '01023',
 '01392',
 '01732',
 '01063',
 '02223',
 '02866',
 '05984',
 '04651',
 '03238',
 '00846',
 '02599',
 '01694',
 '06062',
 '01501',
 '01561',
 '01031',
 '02787',
 '02064',
 '06030',
 '00086',
 '01710',
 '02539',
 '03077',
 '00640',
 '01850',
 '00778',
 '00698',
 '02052',
 '01654',
 '02632',
 '01167',
 '00371',
 '03048',
 '03546',
 '01543',
 '03031',
 '00460',
 '02122',
 '00278',
 '06059',
 '01724',
 '10970',
 '01413',
 '02671',
 '02469',
 '01040',
 '08973',
 '01821',
 '01638',
 '08929',
 '00434',
 '01434',
 '02498',
 '03322',
 '00167',
 '00733',
 '02066',
 '00596',
 '00838',
 '03433',
 '01531',
 '00064',
 '00179',
 '00148',
 '01272',
 '02106',
 '00619',
 '02713',
 '02336',
 '03948',
 '01355',
 '06720',
 '01103',
 '01915',
 '01105',
 '02005',
 '09030',
 '01713',
 '02341',
 '02163',
 '04015',
 '01636',
 '01297',
 '03211',
 '02027',
 '00273',
 '03424',
 '00657',
 '01689',
 '01878',
 '02938',
 '03130',
 '01425',
 '02639',
 '02679',
 '03100',
 '03073',
 '02350',
 '00637',
 '00114',
 '00353',
 '00883',
 '02435',
 '08992',
 '01066',
 '01056',
 '01118',
 '00748',
 '03980',
 '00405',
 '00412',
 '01464',
 '01538',
 '01503',
 '00481',
 '01068',
 '01378',
 '03145',
 '02137',
 '08947',
 '08928',
 '00042',
 '01951',
 '01984',
 '00428',
 '01231',
 '04189',
 '01771',
 '01490',
 '01480',
 '02593',
 '00977',
 '00840',
 '01767',
 '02237',
 '02812',
 '00483',
 '04659',
 '00866',
 '02073',
 '00624',
 '00881',
 '01557',
 '08979',
 '03997',
 '00555',
 '02749',
 '05115',
 '00397',
 '01142',
 '03108',
 '01044',
 '02610',
 '01520',
 '00079',
 '00677',
 '00943',
 '04179',
 '00563',
 '01655',
 '03066',
 '01370',
 '01427',
 '00240',
 '00788',
 '01406',
 '09040',
 '00605',
 '04800',
 '06020',
 '08532',
 '00786',
 '02648',
 '00755',
 '04621',
 '01584',
 '00989',
 '01872',
 '01846',
 '00763',
 '03315',
 '00291',
 '01333',
 '02588',
 '04627',
 '01324',
 '02077',
 '03515',
 '01765',
 '01170',
 '01986',
 '00006',
 '00089',
 '02189',
 '01306',
 '01021',
 '01869',
 '02871',
 '01288',
 '00590',
 '02766',
 '02041',
 '01162',
 '01845',
 '08954',
 '01057',
 '00522',
 '00700',
 '03331',
 '00222',
 '00843',
 '02014',
 '02782',
 '00565',
 '01061',
 '00328',
 '01974',
 '05259',
 '01855',
 '08936',
 '03106',
 '00928',
 '00968',
 '02903',
 '00779',
 '01201',
 '00055',
 '00798',
 '01802',
 '01790',
 '02195',
 '06032',
 '02839',
 '00275',
 '00455',
 '01859',
 '00727',
 '01304',
 '02142',
 '02836',
 '02558',
 '01791',
 '01682',
 '02985',
 '01196',
 '00549',
 '00751',
 '02928',
 '00818',
 '01717',
 '01305',
 '02918',
 '00895',
 '01471',
 '05960',
 '05339',
 '00050',
 '01036',
 '05105',
 '01271',
 '01779',
 '03511',
 '00697',
 '02873',
 '00280',
 '00904',
 '01924',
 '03266',
 '01369',
 '00686',
 '01005',
 '02042',
 '00013',
 '01084',
 '00475',
 '02808',
 '03179',
 '02244',
 '00972',
 '00243',
 '00173',
 '02978',
 '02776',
 '01582',
 '00582',
 '02857',
 '00836',
 '01824',
 '00399',
 '00227',
 '02063',
 '00737',
 '00044',
 '01215',
 '02332',
 '05780',
 '03065',
 '01014',
 '03319',
 '02033',
 '05154',
 '00712',
 '01091',
 '00248',
 '04667',
 '00191',
 '00906',
 '00029',
 '00504',
 '00535',
 '00560',
 '01140',
 '08985',
 '00795',
 '02496',
 '01907',
 '00975',
 '00552',
 '00922',
 '01150',
 '02190',
 '05125',
 '00409',
 '01048',
 '01303',
 '01319',
 '02254',
 '08981',
 '00072',
 '00484',
 '00262',
 '01697',
 '00346',
 '01675',
 '05382',
 '02017',
 '02909',
 '02184',
 '02099',
 '05266',
 '00915',
 '01276',
 '02457',
 '02990',
 '01401',
 '02783',
 '02061',
 '03395',
 '02482',
 '01685',
 '02264',
 '02737',
 '01286',
 '02849',
 '03084',
 '03383',
 '00780',
 '01176',
 '09033',
 '10961',
 '05172',
 '04016',
 '04666',
 '01810',
 '03194',
 '05986',
 '01004',
 '01914',
 '01953',
 '03708',
 '01739',
 '00429',
 '02001',
 '01136',
 '01702',
 '03245',
 '02405',
 '01806',
 '01677',
 '03188',
 '00092',
 '01511',
 '03909',
 '01700',
 '01782',
 '00035',
 '01623',
 '02220',
 '00188',
 '01356',
 '02796',
 '02181',
 '02054',
 '01524',
 '00180',
 '05232',
 '02156',
 '02532',
 '00081',
 '01853',
 '01678',
 '00528',
 '02997',
 '03361',
 '01123',
 '00468',
 '02692',
 '03273',
 '00594',
 '02016',
 '02919',
 '01847',
 '08596',
 '01549',
 '00008',
 '02464',
 '00516',
 '01839',
 '03032',
 '02893',
 '02824',
 '00645',
 '00021',
 '01579',
 '00744',
 '00612',
 '01811',
 '01115',
 '00687',
 '01941',
 '00238',
 '02746',
 '02882',
 '01728',
 '08989',
 '00471',
 '03311',
 '01572',
 '02850',
 '04635',
 '00879',
 '00370',
 '06729',
 '02638',
 '05104',
 '01691',
 '01911',
 '00496',
 '09029',
 '00009',
 '00439',
 '02426',
 '01825',
 '03338',
 '10989',
 '08972',
 '03200',
 '00880',
 '02485',
 '01461',
 '03376',
 '10982',
 '03970',
 '01388',
 '00074',
 '00620',
 '00889',
 '09031',
 '00673',
 '02752',
 '02387',
 '01393',
 '03128',
 '06033',
 '05280',
 '08923',
 '01277',
 '01545',
 '06722',
 '03005',
 '03064',
 '01663',
 '00325',
 '00678',
 '02930',
 '01075',
 '10995',
 '01615',
 '01088',
 '00897',
 '03385',
 '01833',
 '02674',
 '00011',
 '08996',
 '03176',
 '01822',
 '03399',
 '01605',
 '01555',
 '02191',
 '03310',
 '00402',
 '01473',
 '03313',
 '02672',
 '00189',
 '01803',
 '02265',
 '02291',
 '01611',
 '04695',
 '00358',
 '02202',
 '03127',
 '03182',
 '02423',
 '05720',
 '00855',
 '00259',
 '01583',
 '02915',
 '01563',
 '02949',
 '00794',
 '04183',
 '02408',
 '02378',
 '01566',
 '02399',
 '02497',
 '00847',
 '03272',
 '02887',
 '10979',
 '00524',
 '04717',
 '02154',
 '01348',
 '05092',
 '00753',
 '00874',
 '03593',
 '01740',
 '05245',
 '05785',
 '01039',
 '08960',
 '00316',
 '00773',
 '01248',
 '02297',
 '09016',
 '01808',
 '01852',
 '01452',
 '02370',
 '00978',
 '00416',
 '01932',
 '04168',
 '11005',
 '00521',
 '00998',
 '00806',
 '00472',
 '04766',
 '00804',
 ...}

In [11]:
data_drop = data_drop[(data_drop['site'].astype(str).str.isdigit()) & (data_drop['site'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ site ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
print(data_drop.shape)                                                                            
data_drop.head()

(37764, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50

In [12]:
set(data_drop['site']) # ดู set ข้อมูลของ 'site'

{'00027',
 '00040',
 '00513',
 '00579',
 '00580',
 '02759',
 '03432',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05079',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05255',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11748',
 '11749',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '24650',
 '27988',
 '27990',
 '28017',
 '99795'}

### เปลี่ยน type ข้อมูลเป็น String

In [13]:
import numpy as np # นำเข้า numpy ในชื่อ np

### เปลี่ยน user, site, ov, PartitionKey, age เป็นตัวเลขเท่านั้น (int)

โดยการตั้งค่า  error='coerce' จะแปลงค่าที่ไม่ใช่ตัวเลขเป็น  NaN

In [14]:
data_drop['user'] = pd.to_numeric(data_drop['user'], errors='coerce') #เปลี่ยน type ข้อมูลเป็นตัวเลข คอลัมน์ user
data_drop['ov'] = pd.to_numeric(data_drop['ov'], errors='coerce') #เปลี่ยน type ข้อมูลเป็นตัวเลข คอลัมน์ ov
data_drop['age'] = pd.to_numeric(data_drop['age'], errors='coerce'); #เปลี่ยน type ข้อมูลเป็นตัวเลข คอลัมน์ age

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
data_drop.dtypes # ดูชนิดของข้อมูล

user            float64
RowKey           object
date             object
ov              float64
phone            object
site             object
time             object
urine            object
PartitionKey     object
title            object
age               int64
dtype: object

ตอนนี้จะสังเกตเห็น ค่า NaNโดยที่ประเภทข้อมูลเป็น float

สามารถทำโดยแทนที่ค่า 'NaN' ด้วยค่า '0' โดยใช้ df.replace:

In [16]:
data_drop = data_drop.replace(np.nan, 0, regex=True) #แทนที่ค่า 'NaN' ด้วยค่า '0' โดยใช้ df.replace:
data_drop['user'] = data_drop['user'].astype(int) #เปลี่ยนชนิดของข้อมูล user เป็น int
data_drop['ov'] = data_drop['ov'].astype(int) #เปลี่ยนชนิดของข้อมูล ov เป็น int
data_drop['age'] = data_drop['age'].astype(int) #เปลี่ยนชนิดของข้อมูล age เป็น int

In [17]:
data_drop.dtypes # ดูชนิดของข้อมูล

user             int64
RowKey          object
date            object
ov               int64
phone           object
site            object
time            object
urine           object
PartitionKey    object
title           object
age              int64
dtype: object

### เปลี่ยน RowKey, phone, urine, title เป็น String

In [18]:
data_drop.astype({'RowKey':'string', 'phone':'string','urine':'string','title':'string'}).dtypes #เปลี่ยน RowKey, phone, urine, title เป็น String

user             int64
RowKey          string
date            object
ov               int64
phone           string
site            object
time            object
urine           string
PartitionKey    object
title           string
age              int64
dtype: object

In [19]:
data_drop #แสดงข้อมูลตาราง data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36
39478,0,wwpnkeptlc.png,2022-02-26,0,Samsung SM-G998B,13777,01:26:34,สีน้ำนม,12285,นางสาว,22

> กำหนด ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [20]:
set(data_drop['ov']) # ดู set ของข้อมูล ov

{0, 1, 2, 3, 4}

จะเห็นว่า ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ) อยู่แล้ว ดังนั้นไม่ต้องแก้ไขอะไร

>กำหนดรูปแบบของ time เป็น hh-mm-ss

In [21]:
data_drop['time'] = data_drop['time'].replace(':','-',regex=True) #เปลี่ยนรูปแบบของ time จาก hh:mm:ss กลายเป็น hh-mm-ss

In [22]:
data_drop #แสดงข้อมูลตาราง data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36
39478,0,wwpnkeptlc.png,2022-02-26,0,Samsung SM-G998B,13777,01-26-34,สีน้ำนม,12285,นางสาว,22

In [23]:
TF=list()
for each_row in data_drop.iterrows():
    if (10000 < each_row[1]['user'] < 60000):  #each_row คือ ตัวเลข
        TF.append(True)
    else:
        TF.append(False)

data2= data_drop[TF]

In [24]:
data2 #แสดงข้อมูลตาราง data2

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50
196,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,นางสาว,57
198,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,นาง,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,นางสาว,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36

> เปลี่ยนคอลัมน์ title เป็นเพศ

In [25]:
set(data2['title'])   # ดู set ของข้อมูล

{'  นาง',
 ' นาง',
 'Mrs',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ว่าที่ร้อยตรี',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง'}

In [26]:
  #เปลี่ยนคอลัมน์ title เป็นเพศ

data2['title'].replace({'  นาง':'หญิง',
                    ' นาง':'หญิง',
                    ' นางสาว':'หญิง',
                    ' นาย':'ชาย',
                    'Mrs':'หญิง',
                    'ชาย':'ชาย',
                    'ด.ช.':'ชาย',
                    'ด.ญ.':'หญิง',
                    'ด.ต.':'ไม่ระบุ',
                    'น':'ไม่ระบุ',
                    'น.ส':'หญิง',
                    'น.ส ':'หญิง',
                    'น.ส.':'หญิง',
                    'นส':'หญิง',
                    'นส.':'หญิง',
                    'นส. ':'หญิง',
                    'นาง':'หญิง',
                    'นาง ':'หญิง',
                    'นาง.':'หญิง',
                    'นางl':'หญิง',
                    'นางสาว':'หญิง',
                    'นางสาว ':'หญิง',
                    'นางสาว                   ':'หญิง',
                    'นาน':'ชาย',
                    'นาบ':'ชาย',
                    'นาย':'ชาย',
                    'นาย ':'ชาย',
                    'นาย  ':'ชาย',
                    'นาว':'หญิง',
                    'นาวสาว':'หญิง',
                    'นา่ง':'หญิง',
                    'น่าย':'ชาย',
                    'พจอ.':'ไม่ระบุ',
                    'พระ':'ชาย',
                    'พระครุ':'ไม่ระบุ',
                    'พระปลัด':'ไม่ระบุ',
                    'พลฯ':'ไม่ระบุ',
                    'ร.ต.':'ไม่ระบุ',
                    'ร.ต.ต.':'ไม่ระบุ',
                    'ร.ต.ท.':'ไม่ระบุ',
                    'ร.ต.อ.':'ไม่ระบุ',
                    'รต.':'ไม่ระบุ',
                    'ว่าที่ ร.ต.':'ไม่ระบุ',
                    'ว่าที่ ร.ท.':'ไม่ระบุ',
                    'ว่าที่ร้อยตรี':'ไม่ระบุ',
                    0:'ไม่ระบุ',
                    'data is not completed':'ไม่ระบุ',
                    'okp':'ไม่ระบุ',
                    'ส.อ.':'ไม่ระบุ',
                    'ืนาง':'หญิง',
                    'เด็กชาย':'ชาย',
                    'เด็กหญิง':'หญิง'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [27]:
set(data2['title']) # ดู set ของข้อมูล

{'ชาย', 'หญิง', 'ไม่ระบุ'}

In [28]:
data_re = data2.rename(columns={'title':'sex'})  # เปลี่ยนชื่อคอลัมน์จาก title เป็น sex
data_re.head(5)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50
196,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,หญิง,57
198,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,หญิง,50

In [29]:
data_re.shape #ตรวจสอบขนาด

(17967, 11)

In [30]:
data_01 = data_re

In [31]:
data_01

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50
196,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,หญิง,57
198,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,หญิง,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,หญิง,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,ชาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,หญิง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,หญิง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,ชาย,36

##ตารางที่ 2

In [32]:
data_ho = pd.read_excel(os.path.join(path,'hospital_list.xlsx')) #อ่านไฟล์ excel นำเข้าไฟล์ 'hospital_list.xlsx'
data_ho

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [33]:
data_ho = data_ho[['hcode','name','zone_name','province','amphur','tambon','name5','short_english']]      # เลือกเฉพาะคอลัมน์ที่ต้องการ
print(data_ho.shape)
data_ho.head()

(17103, 8)

,hcode,name,zone_name,province,amphur,tambon,name5,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด,ATG

In [34]:
data_ho.isnull().sum() #sum หาคอลัมน์ที่ค่า Null ว่ามีกี่ค่าในแต่ล่ะคอลัมน์

hcode              0
name               1
zone_name          4
province           0
amphur             2
tambon           209
name5              3
short_english      6
dtype: int64

In [35]:
data_ho['name'] = data_ho['name'].fillna('ไม่ระบุ') # แทนค่า 'ไม่ระบุ' ลงในค่าว่าง ของคอลัมน์ name
data_ho['zone_name'] = data_ho['zone_name'].fillna('ไม่ระบุ') # แทนค่า 'ไม่ระบุ' ลงในค่าว่าง ของคอลัมน์ zone_name
data_ho['amphur'] = data_ho['amphur'].fillna('ไม่ระบุ') # แทนค่า 'ไม่ระบุ' ลงในค่าว่าง ของคอลัมน์ ampha
data_ho['tambon'] = data_ho['tambon'].fillna('ไม่ระบุ') # แทนค่า 'ไม่ระบุ' ลงในค่าว่าง ของคอลัมน์ tambon
data_ho['name5'] = data_ho['name5'].fillna('ไม่ระบุ') # แทนค่า 'ไม่ระบุ' ลงในค่าว่าง ของคอลัมน์ name5
data_ho['short_english'] = data_ho['short_english'].fillna('ไม่ระบุ'); # แทนค่า 'ไม่ระบุ' ลงในค่าว่าง ของคอลัมน์ short_english

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
data_ho.isnull().sum() #sum หาคอลัมน์ที่ค่า Null ว่ามีกี่ค่าในแต่ล่ะคอลัมน์

hcode            0
name             0
zone_name        0
province         0
amphur           0
tambon           0
name5            0
short_english    0
dtype: int64

In [37]:
data_use = data_01.merge(data_ho,how='left',left_on='site',right_on='hcode')     # เชื่อมตาราง
data_use.head(10)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,name5,short_english
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
1,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล,MKM
2,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50,06334,โรงพยาบาลส่งเสริมสุขภาพตำบลน้ำพี้,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ทองแสนขัน,น้ำพี้,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
3,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,หญิง,57,06288,โรงพยาบาลส่งเสริมสุขภาพตำบลนางพญา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ท่าปลา,นางพญา,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
4,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,หญิง,50,06261,สถานีอนามัยเฉลิมพระเกียรติ 60 พรรษา นวมินทราชินี,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,งิ้วงาม,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
5,19911,22E333B1-A8D4-4FCB-8304-7BD2C3D9C94A,2022-03-30,0,"iPhone12,5",06319,09-32-46,ปกติ (เหลืองใส),00001,ชาย,51,06319,โรงพยาบาลส่งเสริมสุขภาพตำบลนายาง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,นายาง,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
6,59476,2AAA9DE2-24E6-4F41-B02E-0CB610C906C6,2022-03-25,4,"iPhone9,4",05000,11-14-25,สีฟ้า หรือน้ำเงิน,00001,หญิง,47,05000,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองขาม,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,บรบือ,ดอนงัว,โรงพยาบาลส่งเสริมสุขภาพตำบล,MKM
7,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,2,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),00001,หญิง,53,11158,โรงพยาบาลตรอน,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ตรอน,บ้านแก่ง,โรงพยาบาลชุมชน,UTT
8,14360,41AE352F-77A0-4D26-B39C-6A09B39576BA,2022-03-31,0,"iPhone8,2",04405,14-11-05,ปกติ (เหลืองใส),00001,หญิง,25,04405,โรงพยาบาลส่งเสริมสุขภาพตำบลหันโจด,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,หนองสองห้อง,หันโจด,โรงพยาบาลส่งเสริมสุขภาพตำบล,KKN
9,24986,44E5D0C4-9195-47FC-82C3-CF9A711D85AB,2022-03-28,1,"iPhone14,3",06278,11-49-13,ปกติ (เหลืองใส),00001,ชาย,76,06278,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านคีรีทอง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ท่าปลา,หาดล้า,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT

In [38]:
data_use.isnull().sum() #sum หาคอลัมน์ที่ค่า Null ว่ามีกี่ค่าในแต่ล่ะคอลัมน์

user             0
RowKey           0
date             0
ov               0
phone            0
site             0
time             0
urine            0
PartitionKey     0
sex              0
age              0
hcode            0
name             0
zone_name        0
province         0
amphur           0
tambon           0
name5            0
short_english    0
dtype: int64

In [39]:
data_use.to_csv(os.path.join(path,'data_use.csv')) # save เข้า drive เพื่อนำไปทำ dashboard

#**Link Dashbored https://datastudio.google.com/reporting/2ee31e56-f5bc-4f54-9b96-85ff7d4623b1**