<a href="https://colab.research.google.com/github/623020514-5/data_viz_2022/blob/main/Final_DataViz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

จากโจทย์
ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx
( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR2TOFCt16PG2k9xeKIA7jnTEm63uTzd3nRacpzhJEp3d3-6QCtWz3tQskw )

#**เรียกใช้ฟังฟ์ชั่น**

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า
import matplotlib
from matplotlib import pyplot as plt

#**นำเข้าไฟล์**

In [2]:
from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/FinalDataViz'

##**ตารางที่ 1**

In [4]:
data1 = pd.read_csv(os.path.join(path,'alldb.csv'))
data1

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

##**ตวจสอบขนาด**

In [5]:
data1.shape

(40035, 14)

เนื่องจากข้อมูลมีจำนวนมาก แต่เราไม่ได้ใช้ทั้งหมด เพื่อง่ายต่อการทำ prepocessing ดังนั้นจะตัดมาแค่ข้อมูลที่ต้องการใช้จริงๆ ตามโจทย์

### ตรวจสอบหาค่า NaN หรือ Missing

In [6]:
data1.isnull().any()  # ตรวจสอบหาค่า missing
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

Unnamed: 0      False
user             True
RowKey           True
care             True
date             True
ov               True
phone            True
site             True
time             True
urine            True
pid              True
PartitionKey     True
title            True
age              True
dtype: bool

จากผลเราจะพิจารณาจากการอ่านค่า True และ False ถ้า True คือ มีค่า missing ดังนั้น จะเห็นได้ว่าข้อมูลมีค่า missing เกือบในทุกคอลัมน์ ดังนั้น สามารถอนุมานได้เลยว่า ข้อมูลมีค่า missing จำนวนมาก จึงไม่เหมาะกับตัดข้อมูล หรือ .dropna
จึงพิจารณาให้ใช้วิธีแทนค่าเฉพาะคอลัมน์ข้อมูลที่เราต้องการใช้

# Data Preprocessing

In [7]:
data = data1[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','title','age']]
data

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,"iPhone13,4",01234,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed

In [8]:
data_drop = data.dropna()
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,0,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0-1528,data is not completed,data is not completed
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,0,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0-1544,data is not completed,data is not completed
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
...,...,...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,2,Samsung SM-G998B,test,14:23:45,ขุ่น,x001,data is not completed,data is not completed
40014,ttest,gzxgflnowr.png,2022-02-21,2,Samsung SM-G998B,test,14:23:43,ขุ่น,x001,data is not completed,data is not completed
40016,xxx,jytlopevha.png,2022-02-17,3,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),xxx,data is not completed,data is not completed
40022,yyy,ivccsksowb.png,2022-02-17,2,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,yyy,data is not completed,data is not completed
40023,zzz,psudrnccsh.png,2022-02-17,2,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,zzz,data is not completed,data is not completed

In [9]:
data_drop = data_drop[(data_drop['PartitionKey'].astype(str).str.isdigit()) & (data_drop['PartitionKey'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ PartitionKey ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
print(data_drop.shape)                                                                            
data_drop.head()

(37772, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50

In [22]:
set(data_drop['PartitionKey'])

{'04095',
 '00722',
 '00779',
 '00703',
 '03292',
 '01149',
 '02720',
 '00151',
 '08942',
 '01473',
 '02778',
 '04696',
 '00930',
 '01737',
 '01797',
 '09011',
 '02008',
 '01082',
 '00387',
 '02026',
 '03983',
 '01708',
 '05247',
 '00419',
 '06182',
 '02405',
 '09007',
 '00783',
 '00688',
 '00287',
 '01744',
 '01854',
 '02244',
 '02500',
 '05327',
 '00144',
 '00684',
 '01018',
 '02749',
 '02917',
 '01122',
 '01331',
 '04627',
 '00512',
 '08918',
 '00863',
 '00719',
 '01866',
 '02792',
 '00855',
 '03098',
 '00093',
 '01362',
 '00496',
 '04626',
 '03096',
 '01683',
 '01167',
 '02484',
 '01031',
 '01939',
 '00698',
 '00073',
 '00455',
 '00792',
 '00940',
 '00165',
 '01090',
 '01071',
 '01338',
 '02946',
 '08930',
 '02627',
 '08995',
 '02028',
 '03503',
 '08971',
 '00643',
 '00207',
 '01654',
 '01611',
 '01892',
 '02075',
 '03073',
 '00625',
 '03939',
 '01868',
 '03124',
 '03487',
 '01131',
 '01600',
 '00818',
 '02327',
 '02702',
 '04186',
 '00461',
 '05189',
 '01632',
 '02095',
 '02144',
 '10998',
 '01692',
 '02941',
 '10969',
 '00740',
 '04813',
 '05097',
 '00367',
 '00159',
 '00878',
 '00882',
 '00653',
 '01282',
 '01504',
 '01382',
 '02013',
 '00982',
 '00243',
 '00768',
 '01930',
 '01085',
 '03290',
 '01147',
 '05717',
 '00361',
 '02151',
 '00114',
 '06000',
 '01570',
 '01135',
 '00580',
 '00936',
 '03981',
 '01165',
 '01850',
 '04024',
 '01517',
 '00289',
 '00255',
 '04687',
 '01174',
 '02015',
 '01001',
 '01112',
 '00626',
 '02516',
 '01937',
 '06006',
 '00299',
 '00263',
 '03541',
 '03072',
 '00129',
 '08933',
 '02202',
 '03155',
 '00368',
 '01965',
 '00874',
 '01650',
 '01417',
 '01889',
 '03433',
 '00979',
 '02468',
 '01162',
 '00241',
 '04663',
 '06011',
 '01258',
 '00552',
 '00119',
 '01888',
 '02044',
 '02476',
 '01415',
 '00307',
 '00414',
 '00311',
 '05780',
 '01094',
 '05974',
 '08934',
 '00055',
 '00347',
 '00478',
 '00615',
 '00639',
 '01991',
 '02564',
 '03267',
 '00084',
 '02066',
 '01091',
 '00249',
 '01223',
 '00176',
 '00521',
 '01649',
 '02273',
 '02548',
 '01864',
 '02305',
 '02977',
 '08572',
 '00917',
 '01151',
 '00939',
 '00920',
 '01949',
 '06717',
 '02601',
 '02178',
 '01505',
 '01002',
 '01088',
 '00948',
 '00393',
 '00791',
 '02431',
 '02674',
 '01236',
 '00030',
 '01380',
 '01058',
 '05099',
 '00937',
 '00502',
 '03065',
 '01378',
 '01503',
 '03552',
 '00745',
 '03272',
 '05973',
 '00793',
 '01311',
 '00991',
 '01240',
 '03245',
 '02933',
 '01106',
 '06061',
 '03237',
 '05350',
 '05267',
 '02162',
 '01060',
 '02611',
 '01134',
 '00475',
 '02918',
 '00205',
 '09003',
 '03023',
 '00096',
 '02708',
 '03384',
 '00308',
 '00999',
 '02863',
 '03068',
 '00754',
 '02039',
 '01130',
 '02189',
 '05965',
 '02943',
 '02288',
 '00488',
 '01068',
 '00284',
 '01069',
 '02856',
 '02600',
 '02163',
 '01771',
 '04253',
 '00787',
 '00020',
 '01615',
 '02230',
 '01211',
 '01742',
 '03075',
 '02676',
 '02237',
 '05235',
 '01032',
 '00227',
 '02690',
 '00506',
 '00385',
 '00377',
 '01168',
 '10985',
 '01030',
 '01721',
 '03182',
 '00444',
 '01809',
 '04187',
 '01556',
 '00750',
 '02990',
 '02743',
 '03506',
 '00406',
 '02071',
 '03354',
 '01208',
 '02173',
 '00067',
 '02056',
 '02599',
 '03109',
 '01977',
 '01748',
 '00497',
 '02821',
 '01607',
 '00597',
 '01014',
 '00990',
 '02495',
 '02764',
 '00516',
 '00188',
 '00770',
 '01568',
 '00208',
 '01837',
 '02485',
 '03356',
 '00685',
 '00560',
 '02671',
 '01731',
 '01987',
 '02421',
 '03948',
 '01306',
 '09014',
 '00336',
 '02233',
 '04781',
 '01047',
 '08596',
 '00233',
 '08952',
 '00676',
 '01914',
 '02877',
 '00028',
 '01753',
 '01760',
 '01597',
 '01103',
 '02865',
 '05115',
 '00535',
 '01402',
 '00482',
 '02567',
 '02741',
 '08987',
 '10975',
 '01579',
 '02265',
 '03133',
 '09044',
 '01188',
 '01779',
 '10973',
 '02585',
 '05718',
 '01546',
 '00380',
 '02156',
 '00404',
 '02383',
 '00654',
 '01670',
 '08906',
 '02070',
 '02975',
 '04019',
 '01961',
 '04639',
 '01194',
 '00150',
 '02072',
 '00330',
 '01181',
 '00875',
 '02031',
 '02685',
 '00896',
 '00195',
 '02084',
 '10976',
 '00223',
 '02813',
 '04011',
 '02524',
 '05323',
 '00909',
 '00118',
 '10983',
 '00889',
 '01682',
 '01079',
 '01475',
 '00389',
 '02054',
 '01455',
 '00835',
 '01255',
 '02215',
 '02537',
 '03279',
 '04074',
 '00800',
 '02678',
 '00281',
 '05227',
 '04054',
 '02122',
 '00072',
 '01176',
 '09013',
 '05280',
 '09015',
 '03511',
 '02041',
 '08947',
 '01518',
 '01344',
 '01791',
 '01895',
 '01807',
 '00366',
 '03441',
 '02287',
 '02269',
 '03366',
 '00577',
 '01471',
 '02142',
 '05128',
 '01166',
 '00447',
 '00519',
 '00049',
 '00908',
 '03464',
 '03877',
 '09004',
 '01909',
 '01569',
 '00201',
 '00152',
 '01453',
 '00062',
 '00137',
 '01234',
 '03402',
 '01964',
 '05986',
 '02196',
 '05147',
 '01789',
 '02557',
 '06005',
 '06023',
 '01253',
 '00885',
 '00958',
 '00163',
 '02958',
 '00915',
 '00504',
 '01685',
 '01814',
 '03130',
 '00570',
 '01333',
 '01427',
 '00691',
 '03527',
 '03825',
 '03379',
 '08998',
 '00548',
 '02033',
 '02330',
 '01283',
 '10971',
 '01693',
 '08917',
 '00110',
 '02004',
 '01040',
 '00092',
 '02429',
 '00108',
 '00873',
 '05806',
 '09024',
 '00490',
 '01778',
 '05153',
 '00594',
 '01927',
 '05102',
 '03031',
 '03057',
 '00573',
 '00716',
 '01275',
 '04684',
 '00271',
 '01384',
 '01581',
 '00683',
 '01901',
 '00240',
 '00844',
 '02012',
 '02822',
 '02164',
 '03238',
 '02949',
 '01711',
 '01185',
 '01700',
 '02654',
 '02566',
 '02652',
 '01328',
 '03715',
 '01005',
 '02517',
 '06028',
 '08974',
 '01439',
 '04168',
 '01824',
 '00693',
 '02200',
 '05318',
 '01356',
 '02167',
 '02242',
 '09002',
 '00270',
 '00927',
 '04800',
 '02875',
 '01302',
 '01156',
 '01879',
 '02871',
 '10967',
 '00491',
 '00888',
 '01923',
 '00674',
 '01593',
 '03008',
 '06041',
 '03125',
 '00822',
 '10987',
 '00993',
 '03110',
 '00242',
 '02058',
 '08936',
 '08950',
 '00492',
 '00776',
 '00586',
 '01348',
 '04046',
 '01072',
 '01292',
 '02956',
 '01207',
 '03325',
 '06022',
 '01549',
 '02286',
 '03019',
 '00747',
 '01286',
 '01697',
 '02236',
 '02223',
 '00501',
 '00907',
 '02264',
 '00532',
 '00056',
 '00960',
 '00652',
 '01238',
 '10989',
 '00648',
 '01248',
 '08916',
 '02497',
 '04812',
 '01438',
 '02547',
 '02402',
 '00238',
 '01083',
 '01687',
 '06003',
 '01985',
 '00325',
 '01116',
 '02042',
 '02153',
 '00333',
 '01314',
 '02640',
 '00947',
 '00963',
 '02345',
 '01617',
 '02760',
 '08963',
 '01140',
 '02251',
 '03084',
 '02761',
 '00929',
 '01624',
 '03538',
 '02416',
 '02175',
 '02540',
 '02613',
 '00186',
 '02861',
 '01381',
 '01883',
 '00868',
 '01592',
 '00946',
 '00514',
 '01462',
 '01493',
 '01485',
 '01501',
 '01470',
 '05290',
 '00424',
 '00872',
 '01220',
 '01006',
 '01350',
 '01390',
 '00443',
 '01990',
 '00050',
 '01510',
 '02596',
 '02937',
 '03273',
 '06058',
 '00627',
 '02338',
 '01513',
 '01488',
 '01672',
 '00589',
 '04136',
 '08532',
 '01374',
 '00922',
 '02422',
 '04036',
 '06029',
 '01148',
 '02060',
 '00593',
 '00162',
 '02188',
 '00002',
 '00221',
 '00458',
 '01219',
 '04193',
 '06262',
 '04695',
 '01416',
 '01323',
 '01012',
 '02048',
 '02580',
 '02857',
 '00017',
 '01269',
 '04697',
 '00426',
 '08964',
 '01479',
 '01327',
 '01690',
 '03397',
 '05988',
 '01527',
 '01081',
 '12285',
 '02771',
 '01197',
 '02063',
 '03248',
 '00166',
 '01230',
 '01054',
 '00608',
 '01315',
 '00272',
 '01175',
 '01111',
 '00148',
 '00869',
 '00771',
 '00486',
 '02499',
 '02909',
 '06004',
 '01803',
 '01158',
 '09006',
 '00834',
 '04643',
 '02442',
 '01061',
 '01195',
 '02365',
 '00068',
 '00100',
 '01241',
 '02719',
 '00004',
 '00881',
 '04060',
 '03432',
 '01898',
 '02352',
 '02951',
 '05110',
 '00467',
 '00853',
 '05129',
 '02929',
 '03315',
 '01303',
 '01934',
 '08985',
 '00801',
 '01544',
 '09016',
 '00146',
 '00903',
 '02007',
 '05831',
 '01836',
 '00230',
 '00531',
 '01657',
 '01675',
 '06012',
 '00840',
 '05362',
 '02830',
 '01498',
 '00810',
 '02426',
 '01169',
 '01393',
 '01394',
 '02993',
 '00087',
 '01819',
 '05116',
 '04127',
 '03998',
 '01725',
 '00275',
 '01628',
 '01749',
 '01132',
 '05195',
 '00143',
 '01830',
 '00254',
 '02498',
 '06045',
 '01601',
 '01410',
 '08903',
 '02020',
 '00457',
 '01761',
 '05962',
 '01637',
 '05132',
 '01699',
 '02677',
 '01559',
 '01209',
 '01588',
 '02631',
 '01582',
 '00445',
 '03141',
 '00816',
 '02624',
 '05204',
 '11003',
 '00262',
 '01346',
 '00569',
 '00441',
 '03229',
 '01136',
 '01506',
 '02595',
 '03980',
 '01022',
 '00601',
 '02417',
 '00712',
 '01620',
 '00042',
 '01055',
 '01932',
 '08949',
 '00717',
 '04672',
 '05715',
 '04634',
 '04636',
 '01226',
 '01500',
 '00950',
 '02191',
 '00520',
 '00647',
 '04650',
 '00048',
 '04623',
 '01834',
 '02057',
 '02184',
 '02240',
 '02997',
 '01422',
 '02491',
 '00499',
 '02769',
 '02510',
 '03127',
 '02135',
 '03188',
 '01634',
 '01651',
 '02701',
 '01059',
 '04180',
 '00826',
 '01127',
 '09012',
 '01341',
 '04012',
 '01257',
 '01704',
 '00200',
 '02713',
 '02763',
 '00971',
 '05127',
 '08914',
 '01267',
 '03322',
 '01095',
 '00949',
 '01108',
 '00348',
 '03092',
 '01239',
 '02490',
 '09035',
 '01993',
 '01242',
 '04038',
 '00845',
 '00533',
 '02623',
 '00340',
 '02824',
 '00786',
 '01100',
 '01463',
 '01998',
 '02052',
 '08383',
 '08983',
 '03215',
 '01743',
 '00309',
 '01469',
 '02452',
 '00807',
 '00206',
 '02508',
 '00775',
 '00831',
 '03311',
 '03309',
 '03472',
 '00861',
 '02773',
 '00244',
 '00612',
 '02807',
 '01516',
 '01321',
 '03122',
 '00402',
 '02630',
 '01395',
 '00086',
 '03168',
 '00714',
 '03415',
 '01397',
 '01063',
 '00664',
 '02034',
 '00781',
 '05098',
 '00537',
 '00565',
 '03964',
 '05289',
 '08921',
 '03034',
 '00448',
 '01677',
 '01210',
 '02967',
 '00546',
 '00500',
 '01606',
 '04017',
 '03121',
 '06009',
 '08943',
 '01915',
 '00790',
 '01869',
 '02267',
 '00695',
 '05107',
 '06060',
 '05723',
 '00252',
 '01182',
 '00629',
 '01133',
 '01666',
 '01177',
 '01723',
 '00192',
 '02738',
 '03358',
 '00994',
 '02666',
 '00246',
 '02062',
 '01065',
 '04052',
 '00696',
 '02295',
 '03100',
 '02808',
 '03310',
 '01138',
 '02992',
 '02457',
 '00442',
 '03007',
 '01943',
 ...}

In [24]:
data_drop = data_drop[(data_drop['site'].astype(str).str.isdigit()) & (data_drop['site'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ site ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
print(data_drop.shape)                                                                            
data_drop.head()

AttributeError: ignored

In [ ]:
set(data_drop['site'])

## เปลี่ยน type ข้อมูลเป็น String

In [10]:
import numpy as np

### เปลี่ยน user, site, ov, PartitionKey, age เป็นตัวเลขเท่านั้น (int)

โดยการตั้งค่า  error='coerce' จะแปลงค่าที่ไม่ใช่ตัวเลขเป็น  NaN

In [11]:
data_drop['user'] = pd.to_numeric(data_drop['user'], errors='coerce')
data_drop['ov'] = pd.to_numeric(data_drop['ov'], errors='coerce')
data_drop['age'] = pd.to_numeric(data_drop['age'], errors='coerce');

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [12]:
data_drop.dtypes

user            float64
RowKey           object
date             object
ov              float64
phone            object
site            float64
time             object
urine            object
PartitionKey     object
title            object
age             float64
dtype: object

ตอนนี้จะสังเกตเห็น ค่า NaNโดยที่ประเภทข้อมูลเป็น float

สามารถทำโดยแทนที่ค่า 'NaN' ด้วยค่า '0' โดยใช้ df.replace:

In [13]:
data_drop = data_drop.replace(np.nan, 0, regex=True)
data_drop['user'] = data_drop['user'].astype(int)
data_drop['ov'] = data_drop['ov'].astype(int)
data_drop['age'] = data_drop['age'].astype(int)

In [14]:
data_drop.dtypes

user             int64
RowKey          object
date            object
ov               int64
phone           object
site             int64
time            object
urine           object
PartitionKey    object
title           object
age              int64
dtype: object

>เปลี่ยน Rowkey phone เเละ urine เป็น String

### เปลี่ยน RowKey, phone, urine, title เป็น String

In [15]:
data_drop.astype({'RowKey':'string', 'phone':'string','urine':'string','title':'string'}).dtypes

user             int64
RowKey          string
date            object
ov               int64
phone           string
site             int64
time            object
urine           string
PartitionKey    object
title           string
age              int64
dtype: object

In [16]:
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",6334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36
39477,0,myyxvwlfnh.png,2022-02-26,0,Samsung SM-G998B,0,01:52:15,ใส่เป็นน้ำเปล่า,12285,data is not completed,0
39478,0,wwpnkeptlc.png,2022-02-26,0,Samsung SM-G998B,13777,01:26:34,สีน้ำนม,12285,นางสาว,22

> กำหนด ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [17]:
set(data_drop['ov'])

{0, 1, 2, 3, 4}

จะเห็นว่า ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ) อยู่แล้ว ดังนั้นไม่ต้องแก้ไขอะไร

>กำหนดรูปแบบของ time เป็น hh-mm-ss

In [18]:
data_drop['time'] = data_drop['time'].replace(':','-',regex=True)

In [19]:
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",5328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",6302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",6334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36
39477,0,myyxvwlfnh.png,2022-02-26,0,Samsung SM-G998B,0,01-52-15,ใส่เป็นน้ำเปล่า,12285,data is not completed,0
39478,0,wwpnkeptlc.png,2022-02-26,0,Samsung SM-G998B,13777,01-26-34,สีน้ำนม,12285,นางสาว,22

In [20]:
TF=list()
for each_row in data_drop.iterrows():
    if (10000 < each_row[1]['user'] < 60000):  #each_row คือ ตัวเลข
        TF.append(True)
    else:
        TF.append(False)

data2= data_drop[TF]

In [21]:
data2

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",5059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",6334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50
196,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",6288,10-28-02,ปกติ (เหลืองใส),00001,นางสาว,57
198,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",6261,15-40-17,ปกติ (เหลืองใส),00001,นาง,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,นางสาว,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36